# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/HeartDiseasePredictor/dist
/HeartDiseasePredictor/.git
/HeartDiseasePredictor/node_modules
/tmp
/out-tsc

# dependencies
/HeartDiseasePredictor/node_modules


/WebAPI/train.py
/WebAPI/model.h5
/WebAPI/model.tflearn
/WebAPI/.git