<div class="jumbotron" style="padding: 2rem 2rem;">
    <h1 class="display-3">Heart Disease Predictor</h1>
    <h4>Data Mining Project Extended</h4>
  
    <hr class="my-4">
    <p><b>Author: </b>Sandun Isuru Niraj</p>
    <p> <span style="margin-right: 15px;"><a href="https://github.com/Sandun-Isuru-Niraj" target="_blank"><i
            class="fab fa-github-square fa-lg"></i></a></span> <span style="margin-right: 15px;"><a
          href="https://stackoverflow.com/users/6689345/sandun-isuru-niraj" target="_blank"><i
            class="fab fa-stack-overflow fa-lg"></i></a></span> <span style="margin-right: 15px;"><a
          href="https://www.linkedin.com/in/sandun-isuru-niraj/" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a></span></p>
    <hr class="my-4">
    <h3 class="lead">Used Technologies</h3>
    <ul>
      <li><a href="https://v6.angular.io" target="_blank"><i class="fab fa-angular"></i> Angular 6</a></li>
      <li><a href="https://getbootstrap.com" target="_blank"><i class="fab fa-bootstrap"></i> Bootstrap 4</a></li>
      <li><a href="https://bootswatch.com/materia/" target="_blank">Bootswatch Materia Theme</a></li>
      <li><a href="https://firebase.google.com" target="_blank">Firebase Hosting</a></li>
      <li><a href="https://heroku.com" target="_blank">Heroku</a></li>
      <li><a href="https://www.python.org/" target="_blank">Python</a></li>
      <li>Complete List of Other References can be seen in my Github Repo</li>
    </ul>
    <h5>You can Find this Project as <a href="https://github.com/Sandun-Isuru-Niraj/HeartDiseasePredictor" target="_blank">Open Source</a> in my Repo. Give a Star and Fork it as a Support.</h5>
  </div>