<div class="card text-white bg-success" >
  <div class="card-header">
    <h1>Cheers! You're safe.</h1>
  </div>
  <div class="card-body">
    <h3 class="card-title">You have {{ predictionValue }}% of Probability to having a Heart Disease.</h3>
    <p class="card-text">Keep up the good health and keep good balance between Work and Life.</p>
    <p>Visit this <a href="https://medlineplus.gov/howtopreventheartdisease.html" target="_blank" class="href">Link</a> to get to know about Heart Diseases.</p>
  </div>
</div>